<html>
  <head>
    <title>HOME</title>
  </head>
  <body>
    <h1>ADMIN HOME</h1>
    <div>
      Welcome <b><%= session.admin.username%></b>
      |
      <a href='logout'>Logout</a>
    </div>
  </body>
</html>